#home-page{
  display: block;
  height: 100vh;
  background-color: #2a2a72;
  background-image: linear-gradient(
    315deg,
    #466ACE 0%,
    rgb(144, 194, 240) 32%,
    rgb(173, 181, 248) 74%
  );
}